footer.page-foot
  .rd-navbar-outer: .rd-navbar-inner

    // RD Navbar Panel
    .rd-navbar-cell.rd-navbar-panel.text-center

      // RD Navbar Toggle
      button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar-nav'): span.toggle-icon

      // RD Navbar Brand
      a.rd-navbar-brand(href='./')
        .brand-name
          .text-ubold Language
          div Center
      p.offset-top-6
        != "&#169; "
        span(id="copyright-year")
        != ". "
        a(href="privacy.html") Privacy Policy
        if(activeIndex == 1)
          // {%FOOTER_LINK}

    // RD Navbar Nav
    .rd-navbar-cell.rd-navbar-nav-wrap
      ul.rd-navbar-nav
        li(class=(activeIndex == 1 ? 'active' : '')): a(href='./') Home
        li(class=(activeIndex == 2 ? 'active' : '')): a(href='about.html') About
        li(class=(activeIndex == 3 ? 'active' : '')): a(href='courses.html') Courses
        li(class=(activeIndex == 4 ? 'active' : '')): a(href='news.html') News
        li(class=(activeIndex == 5 ? 'active' : '')): a(href='contacts.html') Contacts

    // RD Navbar Info
    .rd-navbar-cell.rd-navbar-info
      a(href="callto:#") 800-2345-6789
      address
        | 28 Jackson Blvd Ste 1020
        br
        | Chicago IL 60604-2340