extends  _skeleton

block variables
  - var activeIndex = 0

block title
  title Search results

block page
  // Page Header
  include _header

  // Page Content
  main.page-content.vertical-limiter-2
    section.section-40.section-lg-139
      .shell
        h3.text-center
          span.text-bold Search results
          span.divider

        .rd-search-results.offset-top-41

  // Page Footer
  include _footer